@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;1,100&family=Tangerine:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: roboto;
  line-height: 2;
  word-spacing: 5px;
}
html {
  scroll-behavior: smooth;
}

.logo {
  text-transform: uppercase;
}
/* nav bar styling */
nav {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background:transparent;
  
}

nav .logo {
  font-weight: bold;
  margin: auto 30px;
  color: white;
}
ul {
  margin: auto 30px;
}

nav li {
  display: inline-block;
  padding: 20px;
}

nav li a {
  font-weight: bold;
  color: white;
  padding-bottom: 10px;
}
nav li a:hover {
  border-bottom: 5px solid #ffff;
  margin-bottom: 10px;
}

.container {
  background: url("../img/candle.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 90vh;
}
.about {
  width: 700px;
  font-size: 1.2rem;
  transition: all 1s ease;
  opacity: 0.5;
}

.about h1 {
  font-weight: bold;
  text-transform: uppercase;
}
.contact {
  border: 1px lightblue;
  color: #fff;
  width: 20%;
  margin: 3.75em auto 0 auto;
  font-size: 1em;
  padding: 1.2em 0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 1s ease-in-out;
  background: gray
}
.contact:hover {
  transform: scale(1.05);

}
.about:hover {
  opacity: 1;
  color: #ffff;
}
.social ul li {
  display: inline-block;
  padding: 20px;
}

.social .fa {
  font-size: 30px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  transition: all 1s ease-in-out;
  background: gray
}

.social .fa:hover {
  transform: scale(1.05);
}

h1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about {
  text-transform: uppercase;
  background: -webkit-linear-gradient(grey, white, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-container {
  display: grid;
  background: black;
  color: white;
  height: 100vh;
  grid-template-areas:
    "about-header about-header about-header"
    "image-section about-description about-description";
  grid-gap: 1.5rem;
}

.about-header {
  grid-area: about-header;
  text-align: center;
  color: white;
}
.about-header h3 {
  padding: 10px;
  text-transform: uppercase;
  color: white;
}
.image-section {
  grid-area: image-section;
  margin-left: 20px;
}
.image-section img {
  height: 500px;
  width: 400px;
}
.about-description {
  grid-area: about-description;
  display: flex;
  flex-direction: column;
  background:black;
  justify-content: center;
  align-items: center;
  color:white;
  font-family: Tangerine;
  height: 500px;
  margin-right: 20px;
  
}

.about-description p {
  margin: 0 20px;
  
}

.about-description a{
  
  padding: 20px;
  color:white;
  background: linear-gradient(to right, grey, lightblue);
  transition: all 1s ease-in-out;
  text-transform: uppercase;
}

.about-description a:hover{
  background: linear-gradient(to right, #05fbff, #1e00ff);
  color: black;
}
span{
  font-weight: bold;
}

.card-details{
  display: flex;
  height: 90vh;
  margin:  0 30px;
  justify-content: center;
  align-items: center;
}
.portfolio-header{
  text-align: center;
  padding-top: 20px;
  color: white;
}

.card{

 
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: hsl(204, 33%, 3%);
  color:white;
}

.card p{
  text-align: center;
}
#portfolio{
  background: black;
}

.card + .card{
  margin-left: 20px;
}
.card img{
  height: 80px;
  width: 80px;
  position: relative;
  bottom: 40px;

}

.card a{
  margin: 10px;
  padding: 10px 20px;
  background: linear-gradient(to right, grey, lightblue);
  color: white;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 2s ease;
  text-transform: uppercase;
  position: relative;
}


.card a:hover{
  
  background: linear-gradient(to right, #05fbff, #1e00ff);
  color: black;
  transform: rotate(-45deg);
}
.contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background: black;
  color: white;

}
::placeholder{
  color:white;
}

.form-input input{
  width: 300px;
}

input{
  border-top: none;
  border-right: none;
  border-left: none;
  background: black;
  padding: 10px;
  margin-top:10px ;
  outline: none;
  color: white;
}
button{
  width: 320px;
  padding: 0.2rem;
  margin-top: 10px;
  color:white;
  background: gray;
  border: gray;
  text-transform: uppercase;
  transition: all 600ms ease-in;
  
  
}


button:hover{
  border: gray;
  outline: none;
  transform: scale(1.02);
}

footer{
  height: 20vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li{
 display: inline;
 padding: 15px;
}
ul li a .fa{
  padding: 10px;
  background:gray;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: all 800ms ease-in-out;
}

footer ul li a .fa:hover{
  transform: scale(1.2);
}

