@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;1,100&family=Tangerine:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: roboto;
  line-height: 2;
  word-spacing: 5px;
}
html {
  scroll-behavior: smooth;
}

.logo {
  text-transform: uppercase;
}
/* nav bar styling */
nav {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background: black;
}

nav .logo {
  font-weight: bold;
  margin: auto 30px;
  color: white;
}
ul {
  margin: auto 30px;
}

nav li {
  display: inline-block;
  padding: 20px;
}

nav li a {
  font-weight: bold;
  color: white;
  padding-bottom: 10px;
}
nav li a:hover {
  border-bottom: 5px solid #ffff;
  margin-bottom: 10px;
}

.container {
  background: url("../img/candle.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 90vh;
}
.about {
  width: 60vw;
  font-size: 1.2rem;
  transition: all 1s ease;
  opacity: 0.8;
}

.about h3 {
  font-weight: bold;
  text-transform: uppercase;
}
.contact {
  border: 1px lightblue;
  color: #fff;
  width: 20%;
  margin: 3.75em auto 0 auto;
  font-size: 1em;
  padding: 1.2em 0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 1s ease-in-out;
  background: gray;
}
.contact:hover {
  transform: scale(1.05);
}
.about:hover {
  opacity: 1;
  color: #ffff;
  transform: scale(1.08);
}
.social ul li {
  display: inline-block;
  padding: 20px;
}

.social .fa {
  font-size: 30px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  transition: all 1s ease-in-out;
  background: gray;
}

.social .fa:hover {
  transform: scale(1.05);
}

h3 {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about {
  text-transform: uppercase;
  background: -webkit-linear-gradient(grey, white, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-container {
 display: flex;
 background: black;
color: white;
flex-direction: column;
height: 90vh;
justify-content: center;
align-items: center;
text-align:left;
}
.about-description{
  width: 60vw;
  opacity: 0.5;
  transition: all 1s ease-in-out;
}
.about-description:hover{
  opacity: 1;
  transform: scale(1.03);
}

.about-btn{
  margin-top: 20px;
}

.about-btn a{

  padding: 15px;
  color: white;
  background: gray;
  transition: all 1s ease-in-out;
  text-transform: uppercase;
}

.about-btn a:hover {
  transform: scale(1.05);
  color: black;
}
span {
  font-weight: bold;
}

#portfolio {
  background: black;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
}

#portfolio .input-form input{
  width: 50vw;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: yellow;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: yellow;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: blue;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #367ebd;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: black;
  color: white;
}
::placeholder {
  color: white;
  font-size: 1.03rem;
}

.form-input input {
  width: 300px;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  background: black;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  color: white;
}
button {
  width: 320px;
  padding: 0.2rem;
  margin-top: 10px;
  color: white;
  background: gray;
  border: gray;
  text-transform: uppercase;
  transition: all 600ms ease-in;
}

button:hover {
  border: gray;
  outline: none;
  transform: scale(1.02);
}

footer {
  height: 20vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  display: inline;
  padding: 15px;
}
ul li a .fa {
  padding: 10px;
  background: gray;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: all 800ms ease-in-out;
}

footer ul li a .fa:hover {
  transform: scale(1.2);
}
.input-form{
  display: flex;
  flex-direction: column;
}

label{
  margin-left:10px;
}

input[type=range]:disabled{
 /* background-color: #3071a9; */
}

label span{
  display: flex;
  justify-content: right;
}

footer{
  border-top: 1px solid gray;
}
#contactme , #about{
  border-top: 1px solid gray;
}
#about{
  border-bottom: 1px solid gray;
}

@media( max-width: 700px){

     .social .fa{
       padding: 5px;
     }
     .contact{
       padding: 5px 70px;
       margin-top: 5px;
     }
     .nova{
       display: none;
     }
     .about{
       width: 90vw;
     }
     .about-description{
       width: 95vw;
       text-align: center;
     }
     #about{
       height: 100vh;
     }
     #portfolio{
       height: 100vh;
       width: 100%;
     }
     .input-form{
       display: flex;
       width: 300px;
       align-items: center;
       justify-content: center;
     }
     #portfolio .input-form input{
       width: 80vw;
     }
nav li a:hover{
  border-bottom: none;
  cursor: pointer;
}
.display{
  display: flex;
  flex-direction: column;
  position: absolute;;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
  top: 5%;
  margin-left: 2px;
  opacity: 0.4;
  z-index: 0;
  background:transparent;
}
.toggle .fa{
background: transparent;
}
.undisplay{
  display:none;
}
}

@media( min-width: 701px){
  .toggle{
    display: none;
  }
}

footer{
  height: 30vh;
  text-align: center;
}


.fa-envelope{
  color:rgb(46, 7, 92);
}

.timeline{
  height: 80vh;
  background: black;
  color: white;
}
.timeline h3{
 text-align: center;
}
.timeline{
  border-top: 0.2px solid gray;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex: 1;
  width:90vw;
  height: 70vh;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.card{
  flex-wrap: wrap;
  background: rgb(12, 11, 11);
  width: 300px;
  min-height: 200px;
  border-radius: 5px;
}
.card + .card{
  margin-left: 10px;
}

.card p{
  margin: 10px auto;
  width: 90%;
  text-align: center;
}
.project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project a{
  display: flex;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 50px;
  background: rgb(117, 111, 111);
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media(max-width:680px){
  .timeline{
    height: 100vh;
  }
  .card{
    margin-bottom: 10px;
  }
}