@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;1,100&family=Tangerine:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: roboto;
  line-height: 2;
  word-spacing: 5px;
}
/* nav bar styling */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background: rgb(8, 0, 0);
}

nav .logo {
  font-weight: bold;
  margin: auto 30px;
  color: white;
}
ul {
  margin: auto 30px;
}

nav li {
  display: inline-block;
  padding: 20px;
}

nav li a {
  font-weight: bold;
  color: white;
  padding-bottom: 10px;
}
nav li a:hover {
  border-bottom: 5px solid #ffff;
  margin-bottom: 10px;
}

.container{
    background: url('candle.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.home{
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 90vh;
}
.about{
    width: 600px;
    font-size: 1.2rem;
    transition: all 5s ease;
    opacity: 0.1;
}
.about h1{
    font-weight: bold;
    text-transform: uppercase;
}
.contact{
    color: #ffff;
    border: 1px solid grey;
    padding-right:15px;
    padding-left:15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px auto;
    transition: all 2s ease;
}
.contact:hover{
    background-color:#ffff;
    color:black;
    padding: 10px;
}
.about:hover{
    opacity: 1;
    color: grey;
}
.social ul li{
    display: inline-block;
    padding: 20px;
}

.social .fa{
    font-size: 30px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
    transition: all 2s ease-in-out;
}

.social .fa:hover{
    background: #ffff;
}