
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;1,100&family=Tangerine:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:roboto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    background: rgb(233, 215, 215);
}

nav .logo{
    font-weight: bold;
    margin: auto 30px;
    color: white;
}
ul{
    margin: auto 30px;
}

nav li{
    display: inline-block;
    padding: 10px;
    
}

nav li a{
    font-weight: bold;
    color: white;
    padding: 0px;
    
}

